body {
    font-family: Arial;
    background: #111;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.container {
    background: #222;
    padding: 30px;
    border-radius: 10px;
    width: 300px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: none;
    background: orange;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: darkorange;
}

a {
    color: orange;
}